
.DS_Store
deployments/api/.serverless/
deployments/api/node_modules/
deployments/node_modules/
.idea/
frontend/.browserslistrc
frontend/vendor/
*.pyc
deployments/api/settings.prod.json
deployments/api/package-lock.json
deployments/frontend/deploy-dev.sh
